header {
  padding: 5px;
}

.weather {
  background-image: url('../assets/images/background.jpeg');
  background-size: cover;
  /* height: 250px; */
}

.velo {
  height: 100%;
  background: rgba(23, 0, 10, 0.77);
}

.content {
  padding: 20px 5px;
}
