<div *ngIf="current.city">
  <div class="wrap-current">
    <div class="velo-current">
      <div class="text-center">
        {{ current.city.name }}
      </div>

      <div class="text-center">
        {{ current.list[0].dt*1000 | date }}
      </div>

      <div class="row">
        <div class="col temp">
          {{ current.list[0].main.temp }}
        </div>
        <div class="icon">
          <img [src]="linkIcon()" alt="">
        </div>
        <div class="col features">
          <p><i class="fas fa-thermometer-three-quarters"></i> {{ current.list[0].main.pressure }} mm hg</p>
          <p><i class="far fa-circle"></i> {{ current.list[0].main.humidity }} % humidiy</p>
          <p><i class="fas fa-wind"></i> {{ current.list[0].wind.speed }}m/s {{ current.list[0].wind.deg }} </p>
        </div>
      </div>

      <div class="text-center">
        {{ current.list[0].weather[0].description }}
      </div>
    </div>
  </div>
</div>
